<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="dubbo.wk.dao.UserMapper">
    <resultMap id="user" type="dubbo.wk.model.domain.UserEntity">
        <id property="id" column="id"/>
        <result property="uuid" column="uuid"/>
        <result property="userName" column="username"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="sex" column="sex"/>
        <result property="created" column="created"/>
        <result property="updated" column="updated"/>
    </resultMap>

    <select id="findByPrimaryKey" resultMap="user">
       SELECT id,uuid,username,`password`,phone,email,sex,created,updated FROM `tb_user`
       where id=#{id}

    </select>

    <insert id="insert"  useGeneratedKeys="true" keyProperty="id">
        insert into tb_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">
                id,
            </if>
            <if test="userName!=null">
                username,
            </if>
            <if test="passWord!=null">
                password,
            </if>
            <if test="phone!=null">
                phone,
            </if>
            <if test="email!=null">
                email,
            </if>
            <if test="sex!=null">
                sex,
            </if>
            created,
            updated
        </trim>
        <trim prefix="values(" suffix=")"  suffixOverrides=",">
            <if test="id!=null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userName!=null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="passWord!=null">
                #{passWord,jdbcType=VARCHAR},
            </if>
            <if test="phone!=null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email!=null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="sex!=null">
                #{sex, typeHandler=com.ssm.mybatis.typehandler.SexEnumHandler2},
            </if>
            SYSDATE(),
            SYSDATE()
        </trim>

    </insert>
</mapper>